<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="icon" type="image/png" sizes="96x96" href="../img/logo/favicon-96x96.png">
    <link rel="stylesheet" href="../style/main.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="bg-dark text-white">
    <div id="load">
        <div class="spinner-border text-success" id="loading" role="status">
            <div class="visually-hidden">Cargando...</Cargando></div>
        </div>
    </div>
    <header>
        <div class="sticky-top" id="navegation">
            <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html">
                        Delta Lav
                        <img src="../img/logo/IconW.png" width="30px">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="about.html">Sobre Mí</a></li>
                            <li class="nav-item"><a class="nav-link" href="briefcase.html">Portafolio</a></li>
                            <li class="nav-item"><a class="nav-link" href="help.html">Ayuda</a></li>
                            <li class="nav-item"><a class="nav-link active" href="contactme.html">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <section class="text-center py-2">
            <h1 class="display-6">Contacto</h1>
        </section>
    </header>
    
    <footer class="p-0 fixed-bottom">
        <div class="bg-secondary text-center">
            <img src="../img/logo/IconW.png" width="30px">
        </div>
    </footer>
    <script src="../apps/app.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>