<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delta Lav</title>
    <link rel="icon" type="image/png" sizes="96x96" href="./img/logo/favicon-96x96.png">
    <link rel="stylesheet" href="../style/main.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="bg-dark text-white">
    <div id="load">
        <div class="spinner-border text-success" id="loading" role="status">
            <div class="visually-hidden">Cargando...</Cargando></div>
        </div>
    </div>
    <header>
        <div class="sticky-top" id="navegation">
            <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="./home.html">
                        Delta Lav
                        <img src="img/logo/IconW.png" width="30px">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="./views/about.html">Sobre Mí</a></li>
                            <li class="nav-item"><a class="nav-link" href="./views/briefcase.html">Portafolio</a></li>
                            <li class="nav-item"><a class="nav-link" href="./help.html">Ayuda</a></li>
                            <li class="nav-item"><a class="nav-link" href="./contactme.html">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <section class="text-center py-3">
            <h1 class="display-1">Desarrollo Web y Aplicaciones</h1>
        </section>
    </header>
    <div class="container text-center">
        <div class="row">
            <div class="col py-1">
                <div class="card bg-secondary">
                    <div class="card-header">
                        <h3 class="card-title mt-1"><span class="badge bg-success">Desarrollo Web</span></h3>
                    </div>
                    <img src="../img/logo-tech/dev_web.png" alt="Dev Web" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Páginas con fundamentos básicos (HTML, CSS y JS)</p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group">
                            <a href="../views/briefcase.html" class="card-link btn btn-success">Portafolio</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col py-1">
                <div class="card bg-secondary">
                    <div class="card-header">
                        <h3 class="card-title mt-1"><span class="badge bg-success">Desarrollo de Aplicaciones</span></h3>
                    </div>
                    <img src="../img/logo-tech/dev_app.png" alt="Dev App" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Aplicaciones de escritorio para todas las necesitades</p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group">
                            <a href="https://github.com/DeltaLav?tab=repositories" class="card-link btn btn-success">Repositorio</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col py-1">
                <div class="card bg-secondary">
                    <div class="card-header">
                        <h3 class="card-title mt-1"><span class="badge bg-success">Control de Versiones</span></h3>
                    </div>
                    <img src="../img/logo-tech/Git.png" alt="Git" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Proyectos con escalabilidad y control de versiones con Git & Github</p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group">
                            <a href="https://git-scm.com" class="card-link btn btn-success">Git</a>
                            <a href="https://github.com" class=" card-link btn btn-success">Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="pt-3">
        <div class="bg-secondary text-center">
            <img src="../img/logo/IconW.png" width="30px">
        </div>
    </footer>
    <script src="../apps/load.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>